<h1>This page shows the details of a specific event </h1>

<p><strong>Event Name: </strong><%= @event.Name_of_Event %></p>
<p><strong>Distance: </strong><%= @event.Distance_participating %></p>
<p><strong>Country: </strong><%= @event.Country %></p>
<p><strong>Date of Event: </strong><%= @event.Date_of_Event %></p>
<p><strong>Description: </strong><%= @event.Description %></p>